In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [4]:
df = pd.read_csv('C:/Users/PRADEEP/Desktop/ml  udemy/ML/Data Files/Data Files/purchase.csv')

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df = df.drop('User ID',axis=1)

In [7]:
df = pd.get_dummies(df,drop_first=True)

In [8]:
df.head()

   Age  EstimatedSalary  Purchased  Gender_Male
0   19            19000          0            1
1   35            20000          0            1
2   26            43000          0            0
3   27            57000          0            0
4   19            76000          0            1

In [9]:
df.count()

Age                400
EstimatedSalary    400
Purchased          400
Gender_Male        400
dtype: int64

In [10]:
x = df.loc[:,df.columns!='User ID']

In [11]:
y = df['Purchased']

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2,random_state=0)

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =7)
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [14]:
knnclassifier = KNeighborsClassifier(n_neighbors=27)
print(cross_val_score(knnclassifier, x, y, cv=10, scoring ='accuracy').mean())

0.785